# Virtual Environments
venv/
.venv/
env/
ENV/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.pkl
*.h5

# Model weights & Checkpoints
*.pth
*.pt
*.onnx

# Media files
*.jpg
*.jpeg
*.png
*.mp4
*.avi
*.wav
*.mp3
*.mkv
*.gif
*.webm

# Output & Temporary directories
temp/*
!temp/README.md
results/*
!results/README.md

# Datasets and Filelists
filelists/*.txt
evaluation/test_filelists/lr*.txt

# IDEs & OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
